.itemCount__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.itemCount__cantidad {
    font-size: 2rem;
    padding: 0 2rem
}
.itemCount__agregarCarrito {
    border: none;
    background: rgb(37,130,173);
    border-radius: 0%;
    cursor: pointer;
    font-size: 1rem;
    color: white;
    padding:  0.4rem 3rem
}
.itemCount__container__controles{
margin-bottom: 30px;
justify-content: center;
align-items: center;
}
